.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.input-area {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e6ebf5;
    color: #333;
    outline: none;
    transition: background-color 0.3s;
    resize: none;
    overflow: hidden;
    min-height: 38px;
    max-height: 500px;
}

.input-area:focus {
    background-color: #d0d7e6;
}

.input-area:hover {
    background-color: #d0d7e6;
}


.input-field {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e6ebf5;
    color: #333;
    outline: none;
    transition: background-color 0.3s;
}

.input-field:focus {
    background-color: #d0d7e6;
}

.input-field:hover {
    background-color: #d0d7e6;
}