.post {
    display: grid;
    align-items: center;
    gap: 10px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: 'Arial';
    font-weight: normal;
}

.post-content {
    font-size: .9rem;
}

.post-separator {
    border: none;
    height: 1px;
    background-color: #e6ebf5;
    margin-top: 10px;
    margin-bottom: 10px;
}