.profile-view {
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
    align-items: left;
    gap: 10px;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    font-family: 'Arial Rounded MT';
    border-radius: 5px;
}

.profile-banner {
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: row;
    font-family: 'Arial Rounded MT';
    gap: 10px;
}

.separator {
    border: none;
    height: 1px;
    background-color: #e6ebf5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-form {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.profile-button {
    background-color: #000046;
    color: white;
    border: none;
    padding: 13px 50px;
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: normal;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: #64dc78;
}

.profile-button:active {
    background-color: #000046;
}